<h2>Alta</h1>


<button id="btn-get-all">Obtener todos los productos</button>
<hr>
<button id="btn-get-one">Obtener un producto</button>
<hr>
<button id="btn-delete">Eliminar un producto</button>
<hr>

<form action="" class="create-product-form">
    <label for="id">Id:</label>
    <input type="text" id="id" name="id">
    <br>
    <label for="name">Name:</label>
    <input type="text" id="name" name="name">
    <br>
    <label for="description">Description:</label>
    <input type="text" id="description" name="description">
    <br>
    <label for="price">Price:</label>
    <input type="text" id="price" name="price">
    <hr>
    <button type="submit" id="btn-post">Dar de alta</button>
    <button type="submit" id="btn-put">Modificar</button>
</form>


<section class="section-products-table">
    <h2>Listado de productos</h2>
    <div class="products-table-container"></div>
</section>
