<h2>Nosotros</h1>

<section class="accordion aboutUs">
    <h3 class="accordion-title">Nosotros<div class="to_expand_box"><span class="expand_box"></span></div></h3>
        <div class="accordion-content--hidden">
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nobis eum error excepturi praesentium cupiditate nisi expedita amet quae corrupti ullam, autem veritatis, vel provident aperiam minus atque laborum quod eligendi!
        Ut distinctio ex possimus sapiente quia itaque? Eos alias dolor totam possimus voluptatum provident dolore facilis veniam id maxime ullam labore, enim soluta cum dolorem excepturi! A minus officiis sint.
        <p>Neque, dolorum consequatur harum animi ea, voluptates excepturi dolor nisi minus ipsa recusandae? Atque quasi quisquam soluta quas! Eaque fugit magnam animi nam praesentium beatae adipisci ipsam eligendi aut tempore!</p>
        <p>xLaborum totam sapiente, perferendis explicabo iste similique aut exercitationem eius quaerat ullam excepturi veniam rerum dicta atque vero praesentium quasi eligendi assumenda. Eos pariatur voluptates eius fugiat ullam, debitis provident.</p>
        Magni unde corporis harum itaque fuga odio ex reiciendis sint pariatur, illo iste! Repudiandae dolorem ea magni, necessitatibus perspiciatis nam cupiditate ipsam delectus, officiis eligendi, sequi aliquam officia commodi amet.</p> 
        </div>
    <h3 class="accordion-title">¿Dónde están ubicados?<div class="to_expand_box"><span class="expand_box"></span></div></h3>
        <div class="accordion-content--hidden">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus, odit. Ratione dolorem assumenda necessitatibus, recusandae quisquam, magnam perferendis fugit ducimus nostrum eius quas deleniti illum?</p>
            <p>Animi id, libero dolore natus eos voluptate, alias, tenetur provident quaerat maxime possimus. Laudantium iure hic consequatur vero suscipit quas commodi similique quasi dolores eveniet?</p>
        </div>
    <h3 class="accordion-title">¿Realizan envíos al interior del país?<div class="to_expand_box"><span class="expand_box"></span></div></h3>
        <div class="accordion-content--hidden">
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Blanditiis similique placeat nulla alias modi, vero veniam impedit architecto voluptatem quas inventore id, in earum ratione.</p>
            <p>Eos molestiae quia esse? Natus consequatur minus sint iste? Soluta quia quae qui cupiditate id, neque adipisci ad officiis corporis facilis quod quos? Aut, consectetur?</p>
        </div>
    <h3 class="accordion-title">¿Hacen ventas al por mayor?<div class="to_expand_box"><span class="expand_box"></span></div></h3>
        <div class="accordion-content--hidden">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat, soluta. Quasi illum id accusamus, repudiandae perspiciatis nisi dolore quod rem itaque distinctio dolores nulla reiciendis?</p>
            <p>Dicta expedita voluptates molestiae officiis, veritatis necessitatibus autem, nobis in magni exercitationem eaque. Consequuntur corporis ut totam sed. Veniam, mollitia fugit. Blanditiis quod architecto eligendi.</p>
        </div>
    <h3 class="accordion-title ">¿Cuánto es el valor de la compra mímina para hacer un pedido por mayor?<div class="to_expand_box"><span class="expand_box"></span></div></h3>
        <div class="accordion-content--hidden">
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Et, atque quisquam aperiam, commodi quasi iste eaque ipsum molestias suscipit, repudiandae voluptatibus totam reiciendis assumenda? Iusto!</p>
            <p>Repudiandae dicta excepturi doloribus autem fugiat sit possimus velit eum quasi, nisi voluptatibus, dolore tempore asperiores architecto corporis. Quaerat ab totam quam, repudiandae assumenda reiciendis.</p>
        </div>
    <h3 class="accordion-title">¿Cuanto tiempo de anticipación se debe realizar un pedido?<div class="to_expand_box"><span class="expand_box"></span></div></h3>
        <div class="accordion-content--hidden">
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Accusamus, fuga voluptatibus dolorum deleniti dignissimos, quae, facilis nostrum maxime sapiente eveniet possimus cupiditate corporis sequi maiores.</p>
            <p>Doloremque, repellendus! Nihil dolorum repellendus consequatur tempore ratione, suscipit quo exercitationem odio explicabo quod, libero possimus quia rem cumque eligendi dolorem. Natus alias error vel.</p>
        </div>
    <h3 class="accordion-title">Quiero formar parte del quipo de Jugueteria Cósmica SA ¿Cómo debo hacer?<div class="to_expand_box"><span class="expand_box"></span></div></h3>
        <div class="accordion-content--hidden">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam harum eligendi nemo id placeat nobis. Nobis iusto aperiam error quidem eius fugit quibusdam maiores doloremque.</p>
            <p>Non placeat quia architecto distinctio est reiciendis doloribus itaque aliquam aspernatur perspiciatis vitae quis, inventore facere error, numquam repellat. Fugiat cum eveniet sapiente fugit ipsa.</p>
        </div>
    <h3 class="accordion-title">Tengo un cupon de regalo para utilizar en Jugueteria Cósmica ¿Cómo lo canjeo?<div class="to_expand_box"><span class="expand_box"></span></div></h3>
        <div class="accordion-content--hidden">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus iusto impedit cumque quaerat atque est vel aspernatur alias libero debitis! Autem quae facilis excepturi itaque.</p>
            <p>Alias, eveniet. Facere vitae distinctio consequuntur pariatur possimus animi eum voluptatem, quas qui corporis esse itaque iure cupiditate minima nisi quaerat, ducimus suscipit, assumenda blanditiis!</p>
        </div>
    <h3 class="accordion-title" >Sucursales y Horarios<div id="sucursales" class="to_expand_box"><span class="expand_box"></span></div></h3>
        <div class="accordion-content--hidden">
            <div class="accordion stores">
                <ul>
                    <li>Recoleta</li>
                    <li>Caballito</li>
                    <li>San Cristobal</li>
                    <li>San Telmo</li>
                </ul>
            </div>
        </div>
</section>